services:
  postgres:
    image: 'postgres:15'
    environment:
      - 'POSTGRES_DB=minitify'
      - 'POSTGRES_PASSWORD=minitify'
      - 'POSTGRES_USER=minitify'
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
